<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Mystery Word wordChance</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="style.css" rel="stylesheet">
  </head>
  <body>

    <br>
    <div id="wrapper">
      <h1 class="title">Word Guess</h1>
      <h3 class="description">Welcome to the word guess game, please click Start Game to begin, then you have 8 guesses to guess the correct word.</h3>
      <br>
      <br>
      <div id="letter-wrapper">
        {{#wordChance.display}}
          <div class="letters">{{.}}</div>
        {{/wordChance.display}}
      </div>
      <br>
      <form action="/" method="post">
        {{#wordChance.playing}}
          <input type="text" name="guessLetter" placeholder="Enter a letter" maxlength="1" size"1">
        {{/wordChance.playing}}
        {{#wordChance.lose}}
          <p id="lose">{{wordChance.status}}</p>
        {{/wordChance.lose}}
        <input type="submit" value="{{wordChance.btnText}}">
        <br>
        {{#wordChance.playing}}
          <p id="guesses">Letters guessed: {{wordChance.lettersGuessed}}</p>
          <br>
          <p id="message">{{wordChance.message}}</p>
        {{/wordChance.playing}}
        <br>
        {{^wordChance.lose}}
          <p id="guess-left">You have {{wordChance.guessesLeft}} guesses left.</p>
        {{/wordChance.lose}}
        {{#wordChance.lose}}
          <p id="guess-out">You are out of guesses.</p>
        {{/wordChance.lose}}
      </form>
    </div>
  </body>
</html>
